.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .content-header {
        align-self: flex-start;
    }

    .content {
        margin: 0 4em;
        display: flex;    
        flex-direction: row;
        max-height: 80%;

        .card {
            
            background-color: white;
            height: fit-content;
            width: fit-content;
            min-width: 400px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
            
            

            .header {
                overflow: hidden;
                padding: 1em;
                background-color: rgb(108, 108, 233);
                color: rgb(236, 236, 236);
            }

            .body {
                padding: 2em;
                .text-input {
                    margin: 1em auto;
                    display: block;
                    text-align: center;
                    color: rgb(61, 61, 61);
                    
                    .icon {
                        padding: 5px;
                        font-size: 20px;
                        justify-content: center;
                        position: relative;
                        top: 4px;
                        left: 30px;
                    }

                    input[type="text"], input[type="password"] {
                        border: 1px solid rgb(218, 218, 218);
                        padding: 10px;
                        padding-left: 30px;
                        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.068);
                        border-radius: 5px;
                        background-color: rgb(227, 227, 250);
                    }

                    input[type="text"]:focus-visible {
                        outline: none;
                        box-shadow: none;
                    }

                  
                }
                .button {
                    width: fit-content;
                    margin: 1.5em auto;

                    button {
                        margin: 1em auto;
                        display: block;
                        text-align: center;
                        padding: 8px 15px;
                        border: none;
                        border-radius: 5px;
                        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
                        background-color: rgb(108, 108, 233);
                        color: rgb(228, 228, 228);
                        font-weight: bold;
                    }

                    button:hover {
                        cursor: pointer;
                        box-shadow: none;
                    }
                }
            }
        }

        .banner {
            display: flex;
            flex: 2;
            text-align: right;
            align-items: center;
            max-width: 50%;
            
            h2 {
                flex: 1;
                color: rgb(62, 62, 168);
                font-size: 50px;
            }
            
        }
        .spacer {
            flex: auto;
        }

    

    }
    .footer {
        align-self: center;

    
    }
}