<app-gitlab-badge></app-gitlab-badge>

<div class="main-container">
    <div class="content-header"></div>
    <div class="content">
        <div class="card">
            <div class="header">
                <h2>Create a New Channel</h2>
            </div>
            <div class="body">
                <div class="username-input">
                    <fa-icon [icon]="faUser" class="icon"></fa-icon>
                    <input type="text" #username placeholder="Username"/>
                </div>
                <div class="button">
                    <button type="button" (click)="onCreateNewChannel(username)">Create Channel</button>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="banner">
            <h2>A Simple E2EE Chat Application</h2>
        </div>
    </div>
    <div class="footer">
    </div>
</div>