/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b5ccf8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5173b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-container {
    display: flex;
    height: 100vh;
    color: rgb(43, 43, 43);
    div.user-list {
        padding: 15px;
        overflow-y: scroll;

        ul {
            margin: 5px;
            list-style-type: none;
            padding-inline-start: 10px;
            li {
                margin: 5px;
            }
        }
    }

    div.thread {
        flex: 1;
        padding: 0px;
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        div.header {
            padding: 15px;
            background-color: rgb(100, 100, 241);
            
            span {
                float: left;
                font-size: 20px;
                font-weight: bold;
                color: rgb(238, 236, 236);
            }
            button {
                float: right;
                margin-left: auto;
                border: none;
                border-radius: 5px;
                background-color:rgb(180, 180, 255);
                color: rgb(29, 29, 29);
                padding: 10px;
                font-weight: bold;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
            }

            button:hover {
                cursor: pointer;
                box-shadow: none;
            }
        
        }

        div.messages {
            flex: 1;

            padding: 20px;
            overflow-y: scroll;
            overflow-x: hidden;

            ul {
                list-style-type: none;
                padding-inline-start: 0px;
                display: flex;
                flex-direction: column;

                li {
                    margin: 10px;

                    div {
                        width: 100%;
                        div {
                            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.082);
                            text-align: left;
                            padding: 15px;
                            width: fit-content;
                            max-width: 70%;
                            overflow-wrap: break-word;
                            white-space: pre-wrap;
                        }
                    }
                }

                li.self {
                    div {
                        margin-left: auto;

                        text-align: right;

                        span {
                            margin: 5px;
                            display: block;
                        }
                        div {
                            background-color: rgb(213, 213, 255);
                            border-radius: 25px 0px 25px 25px;
                        }
                    }
                }

                li.other {
                    div {
                        margin-right: auto;
                        text-align: left;

                        span {
                            margin: 5px;
                            display: block;
                        }
                        div {
                            background-color: rgb(173, 173, 255);
                            padding: 15px;
                            border-radius: 0px 25px 25px 25px;
                        }
                    }
                }
            }
        }

        div.action {
            background-color: rgb(204, 204, 250);
            padding: 20px;
            display: flex;
            textarea {
                flex: 1;
                resize: none;
                border: none;
                border-radius: 5px;
                margin-right: 5px;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075);
                padding: 10px;
            }

            textarea:focus-visible {
                outline: none;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
            }

            button {
                border: none;
                border-radius: 5px;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075);
                background-color: rgb(105, 105, 226);
                padding: 1em;
                color: rgb(196, 196, 196);
                font-weight: bold;
            }

            button:hover {
                cursor: pointer;
                box-shadow: none;
            }
        }
    }
}


div.modal {
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    .content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 200px;
        min-width: 200px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
        z-index: 101;
        .header {
            position: relative;
            display: block;
            overflow: hidden;
            padding: 10px;

            background-color: rgb(223, 223, 253);
            h2 {
                float: left;
            }
            h3 {
                margin-left: auto;
                float: right;
            }
            h3:hover {
                cursor: pointer;
            }
        }

        .body {
            padding: 25px;
        }
    }
}