<div class="main-container">
    <div class="user-list">
        <ul>
            <li>User1</li>
            <li>User2</li>
            <li>User3</li>
            <li>User4</li>
            <li>User5</li>
        </ul>
    </div>
    <div class="thread">
        
        <div class="header">
            <span>Welcome :)</span>
            <button (click)="onToggleInvite()">Invite</button>
        </div>
        <div class="messages" #messagesDiv>
            <ul >
                <li #messagesLi *ngFor="let message of messages" class="{{message.from === chatSession.username ? 'self' : 'other'}}">
                    <div>
                        <span>{{message.from === chatSession.username ? 'you' : message.from}}</span>
                        <div>{{message.encryptedMessage}}</div>
                    </div>
                </li>
                <!--
                <li class="self">
                    <div>
                        <span>you</span>
                        <div>Hello from user 1</div>
                    </div>
                </li>
                <li class="other">
                    <div>
                        <span>User2</span>
                        <div>Hello from user 2</div>
                    </div>
                </li>
                <li class="other">
                    <div>
                        <span>User2</span>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum quas ratione esse molestiae provident repudiandae ea soluta inventore non! Distinctio ducimus at blanditiis nulla! Esse sed tempore impedit dicta?</div>
                    </div>
                </li>
                -->
            </ul>
        </div>
        <div class="action">
            <textarea #message (keypress)="onTextAreaKeyPress($event)"></textarea>
            <button type="button" (click)="onClickSend(message)">Send</button>
        </div>
    </div>
</div>

<div *ngIf="showInvite" class="modal">
    <div class="content">
        <div class="header">
            <h2>Invite a friend</h2>
            <h3 (click)="onToggleInvite()">X</h3>
        </div>
        <div class="body">
            <div>
                <span>Invite Link: </span>
                <span>{{invitehost}}/{{chatSession.channelID}}</span>
            </div>
            <div>
                <span>Password: </span>
                <span>{{chatSession.password}}</span>
            </div>
        </div>
    </div>
</div>